
<div class="row" id="text-field">
  <div class="col-sm-12">
    <h3 class="features">Features</h3>
    <ul class="feature-list">
      <li>Send a text to a friend who has a 10-digit US phone number.</li>
      <li>No charge for using this service (phone provider may charge a fee for receiving the text, which this service is not responsible!)</li>
      <li>Simple as 2-step. Now try it!</li>
    </ul>

    <%= render "text_form" %>
  </div>
</div>